$clr-background: #f1f1f3;
$clr-tab-background: #fafbfc;

// основной цвет
$clr-blue: #4a76a8;
$clr-border: #e7e8ec;

$clr-box-border: $clr-border;

$clr-btn: $clr-blue;
$clr-btn-hover: #5b88bd;

// лайтовая кнопка
$clr-btn-light: #E5EBF1;
$clr-btn-hover-light: #dfe6ed;
$clr-btn-font-light: #55677d;

// цвет шрифтов
$clr-font-black: #444444;  
$clr-font-white: #ffffff;
$clr-font-blue: #285473;
// USE: при указании количетсво
$clr-font-grey: #939393;
$clr-font-darkgrey: #656565;

// цвет иконок
$clr-icon-light: #99B0C6;

$clr-tb-border: #d3d9de;
$clr-tb-btn-background: #f0f2f5;
$clr-tb-btn-font: #9299a6;