<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
        body {
            width: 100%;
            overflow-y: visible;
        }

        .app {
            width: 500px;
            height: 2000px;
            background-color: blue;
            margin: 0 auto;
        }
    </style>

    <script>
        window.onload = function () {
            window.scrollTo(0, 9999);
        }

        function scrollHello(){
            document.body.scrollTop(9999);
        }
    </script>
</head>

<body>
    <button onClick="scrollHello()" >Нажать</button>
    <div class="app"></div>
</body>

</html>